.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container, .result {
    border: 1px solid #979797;
    box-shadow: 0 0 6px 4px #979797;
    border-radius: 5px;
    padding: 20px;
}

.container {
    width: 400px;
}

.center {
    display: flex;
    justify-content: center;
}

.result {
    min-width: 500px;
    overflow-y: auto;
    max-width: 90%;
}

.bold{
    font-weight: bold;
}

.table > *{
    text-align: right;
}